registry=https://mirrors.cloud.tencent.com/npm/
proxy=http://127.0.0.1:3067
https-proxy=http://127.0.0.1:3067
noproxy=localhost,127.0.0.1,::1,192.168.0.0/16
fetch-retries=3
fetch-retry-mintimeout=2000
fetch-retry-maxtimeout=10000
fetch-timeout=60000
audit=false
fund=false
